streamlit
streamlit-option-menu==0.3.12
hydralit-components==1.0.10
streamlit_extras
streamlit_lottie
pandas
google-generativeai
toml
json
matplotlib
seaborn
streamlit-lottie
os
time
langchain
langchain-google-genai
langchain-community
pytesseract
Pillow
re
speechrecognition
gtts
playsound
tempfile
